[Desktop Entry]
Encoding=UTF-8
Name=IPBC-Wallet
GenericName=IPBC-Wallet
Name[en]=IPBC-Wallet
Name[de]=IPBC-Wallet
Name[es]=IPBC-Wallet
Comment=IPBC-Wallet
Comment[en]=IPBC-Wallet
Comment[de]=IPBC-Wallet
Comment[es]=IPBC-Wallet
Exec=IPBC %U
Terminal=false
Type=Application
Icon=IPBC
MimeType=x-scheme-handler/IPBC;
Categories=Office;Finance;
Version=1.1.1
